body{
font-family: 'Cairo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
}

form input,
form select {
  width: 100%;
  border-radius: 200px;
  border: none;
  border: 1px solid;
  padding: 8px;
}
